.search_box {
	border: 1px solid #dddddd;
	padding: 15px;
	margin-top: 20px;
}

.search_item {
	margin-top: 10px;
	margin-bottom: 10px;
}

.schedule_list {
	border: 1px solid #dddddd;
	padding: 15px;
	margin-top: 20px;
}